<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Bumpcap</vendor>
  <vendor_url>https://github.com/bumpcap/bumpcap</vendor_url>

  <action id="org.bumpcap.manage-copr">
    <description>Enable or disable the CachyOS kernel COPR repository</description>
    <message>Authentication is required to manage the CachyOS kernel COPR repository (bieszczaders/kernel-cachyos)</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="org.bumpcap.set-default-kernel">
    <description>Set default boot kernel</description>
    <message>Authentication is required to set the default boot kernel</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="org.bumpcap.regenerate-grub">
    <description>Regenerate GRUB configuration</description>
    <message>Authentication is required to regenerate the GRUB configuration</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
</policyconfig>
